Repository felifranco/PracticasSA: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_agify, trigger_genderize, trigger_middleware

.gitlab-ci.yml:

stages:
  - triggers

trigger_agify:
  stage: triggers
  trigger:
    include: micro_agify/.agify-pipeline.yml
  rules:
    - changes:
        - micro_agify/*

trigger_genderize:
  stage: triggers
  trigger:
    include: micro_genderize/.genderize-pipeline.yml
  rules:
    - changes:
        - micro_genderize/*
trigger_middleware:
  stage: triggers
  trigger:
    include: middleware/.middleware-pipeline.yml
  rules:
    - changes:
        - middleware/*

Testing the child pipelines with changed files.
  micro_agify/file_agify.txt
  micro_genderize/file_genderize.txt
  middleware/file_middleware.txt
Due: trigger_agify, trigger_genderize, trigger_middleware

The main pipeline was renamed and stage name was changed.
  .main-pipeline.yml
Due: none

Print CI-CD Variables
  CI-CD.md
  micro_agify/.agify-pipeline.yml
Due: trigger_agify

File agify changed
  micro_agify/file_agify.txt
Due: trigger_agify

The main pipeline was renamed again
  .gitlab-ci.yml
Due: none

Test pipelines and jobs
  .gitlab-ci.yml
  micro_agify/file_agify.txt
Due: trigger_agify

Test pipelines and jobs
  micro_agify/.agify-pipeline.yml
Due: trigger_agify

Test pipelines and jobs
  .main-pipeline.yml
Due: none

Test pipelines and jobs
  .gitlab-ci.yml
Due: none

Test pipelines and jobs
  .main-pipeline.yml
  micro_agify/file_agify.txt
Due: trigger_agify

Test pipelines and jobs
  .gitlab-ci.yml
  micro_agify/.agify-pipeline.yml
Due: trigger_agify

Test pipelines and jobs for develop
  micro_agify/.agify-pipeline.yml
Due: trigger_agify

Test pipelines and jobs for develop
  micro_agify/file_agify.txt
Due: trigger_agify

Test pipelines and jobs for develop
  .gitlab-ci.yml
Due: none

Test pipelines and jobs for develop
  .gitlab-ci.yml
  micro_agify/.agify-develop-pipeline.yml
  micro_agify/.agify-main-pipeline.yml
Due: trigger_agify

Test pipelines and jobs for develop
  micro_agify/.agify-main-pipeline.yml
Due: trigger_agify

Text pipelines and jobs for develop
  .gitlab-ci.yml
Due: none
