Repository felifranco/PracticasSA: changes, and which GitLab CI jobs are due for each by the changed paths.
All: micro_agify_develop, micro_agify_main, micro_genderize, micro_middleware

micro_agify_develop:
  stage: integration
  trigger:
    include: micro_agify/CI_CD/.agify-develop-pipeline.yml

micro_agify_main:
  stage: integration
  trigger:
    include: micro_agify/CI_CD/.agify-main-pipeline.yml

micro_genderize:
  stage: integration
  trigger:
    include: micro_genderize/.genderize-pipeline.yml

micro_middleware:
  stage: integration
  trigger:
    include: middleware/.middleware-pipeline.yml

The pipeline for micro_genderize was created The folder was restructured too.
  .gitlab-ci.yml
  CI-CD.md
  micro_agify/CI_CD/.agify-main-pipeline.yml
  micro_agify/develop-compose.yaml
  micro_agify/empty_file.txt
  micro_genderize/.genderize-pipeline.yml
  micro_genderize/.gitignore
  micro_genderize/CI_CD/.genderize-develop-pipeline.yml
  micro_genderize/CI_CD/.genderize-main-pipeline.yml
  micro_genderize/Server/package.json
  micro_genderize/Server/server.js
  micro_genderize/Server/swagger.js
  micro_genderize/Server/tests/server.test.js
  micro_genderize/develop-compose.yaml
  micro_genderize/file_genderize.txt
  micro_genderize/kubernetes/micro-genderize-deployment.yaml
  micro_genderize/kubernetes/micro-genderize-service.yaml
  micro_genderize/main-compose.yaml
  micro_genderize/package-lock.json
  micro_genderize/server.Dockerfile
  micro_genderize/testing.Dockerfile
Due: micro_agify_develop, micro_agify_main, micro_genderize

The pipeline for middleware was created
  .gitlab-ci.yml
  micro_agify/Server/server.js
  micro_genderize/Server/server.js
  middleware/.middleware-pipeline.yml
  middleware/CI_CD/.middleware-develop-pipeline.yml
  middleware/CI_CD/.middleware-main-pipeline.yml
  middleware/Dockerfile
  middleware/Server/package.json
  middleware/Server/server.js
  middleware/Server/swagger.js
  middleware/Server/tests/server.test.js
  middleware/develop-compose.yaml
  middleware/file_middleware.txt
  middleware/kubernetes/middleware-deployment.yaml
  middleware/kubernetes/middleware-service.yaml
  middleware/main-compose.yaml
  middleware/package-lock.json
  middleware/server.Dockerfile
  middleware/testing.Dockerfile
Due: micro_middleware

Remove ports configurations from Compose files
  micro_agify/develop-compose.yaml
  micro_agify/main-compose.yaml
  micro_genderize/develop-compose.yaml
  micro_genderize/main-compose.yaml
Due: micro_agify_develop, micro_agify_main, micro_genderize

Test local GitLab Runner
  CI-CD.md
  micro_agify/test_runner.txt
Due: micro_agify_develop, micro_agify_main

Test local GitLab Runner
  .gitlab-ci.yml
  CI-CD.md
  micro_agify/CI_CD/.test-pipeline.yml
  micro_agify/test_runner.txt
Due: micro_agify_develop, micro_agify_main

Test local GitLab Runner
  micro_agify/CI_CD/.test-pipeline.yml
Due: none

Test local GitLab Runner
  micro_agify/test_runner.txt
Due: micro_agify_develop, micro_agify_main

Test local GitLab Runner
  micro_agify/CI_CD/.test-pipeline.yml
  micro_agify/test_runner.txt
Due: micro_agify_develop, micro_agify_main

Test local GitLab Runner
  CI-CD.md
  micro_agify/CI_CD/.test-pipeline.yml
  micro_agify/test_runner.txt
Due: micro_agify_develop, micro_agify_main

Test local GitLab Runner
  .gitlab-ci.yml
  CI-CD.md
  micro_agify/test_runner.txt
Due: micro_agify_develop, micro_agify_main

Test local GitLab Runner
  micro_agify/CI_CD/.agify-develop-pipeline.yml
  micro_agify/test_runner.txt
Due: micro_agify_develop, micro_agify_main

Test local GitLab Runner
  micro_agify/CI_CD/.agify-main-pipeline.yml
  micro_genderize/CI_CD/.genderize-develop-pipeline.yml
  micro_genderize/CI_CD/.genderize-main-pipeline.yml
  middleware/CI_CD/.middleware-develop-pipeline.yml
  middleware/CI_CD/.middleware-main-pipeline.yml
Due: none

Testing Feature pipeline
  .gitlab-ci.yml
Due: none

Testing Feature pipeline
  .gitlab-ci.yml
  micro_agify/.feature-compose.yaml
  micro_agify/CI_CD/.agify-feature-pipeline.yml
Due: micro_agify_develop, micro_agify_main

Testing Feature pipeline
  micro_agify/.feature-compose.yaml
  micro_agify/CI_CD/.agify-feature-pipeline.yml
Due: micro_agify_develop, micro_agify_main

Testing Feature pipeline
  micro_agify/feature-compose.yaml
Due: micro_agify_develop, micro_agify_main

Testing Feature pipeline
  micro_agify/CI_CD/.agify-feature-pipeline.yml
Due: none

Testing Feature pipeline
  .gitlab-ci.yml
  micro_agify/test_runner.txt
Due: micro_agify_develop, micro_agify_main

Testing Feature pipeline
  micro_agify/CI_CD/.agify-feature-pipeline.yml
  micro_agify/Server/server.js
Due: none

Testing Feature pipeline
  micro_agify/test_runner.txt
Due: micro_agify_develop, micro_agify_main

Testing Feature pipeline
  .gitlab-ci.yml
  micro_agify/CI_CD/.test-pipeline.yml
Due: none

Path conditions:
  micro_agify_develop: any of: micro_agify/*
  micro_agify_main: any of: micro_agify/*
  micro_genderize: any of: micro_genderize/*
  micro_middleware: any of: middleware/*
