Repository felifranco/PracticasSA: changes, and which GitLab CI jobs are due for each by the changed paths.
All: micro_agify_develop, micro_agify_main, micro_agify_feature, micro_agify_merge_request, micro_genderize_develop, micro_genderize_main, micro_middleware_develop, micro_middleware_main

micro_agify_develop:
  stage: integration
  variables:
    MICRO_PATH: micro_agify
    DOCKER_IMAGE_NAME: f64franco/micro-agify
  trigger:
    include: CI_CD/.develop-pipeline.yml

micro_agify_main:
  stage: integration
  variables:
    MICRO_PATH: micro_agify
    DOCKER_IMAGE_NAME: f64franco/micro-agify
  trigger:
    include: CI_CD/.main-pipeline.yml

micro_agify_feature:
  stage: integration
  variables:
    MICRO_PATH: micro_agify
  trigger:
    include: CI_CD/.feature-pipeline.yml

micro_agify_merge_request:
  stage: merge_request
  variables:
    MICRO_PATH: micro_agify
  trigger:
    include: CI_CD/.merge-request.yml
    strategy: depend

micro_genderize_develop:
  stage: integration
  trigger:
    include: micro_genderize/CI_CD/.genderize-develop-pipeline.yml

micro_genderize_main:
  stage: integration
  trigger:
    include: micro_genderize/CI_CD/.genderize-main-pipeline.yml

micro_middleware_develop:
  stage: integration
  trigger:
    include: middleware/CI_CD/.middleware-develop-pipeline.yml

micro_middleware_main:
  stage: integration
  trigger:
    include: middleware/CI_CD/.middleware-main-pipeline.yml

The Genderize pipelines were restructured
  .gitlab-ci.yml
  micro_genderize/CI_CD/.genderize-develop-pipeline.yml
  micro_genderize/CI_CD/.genderize-main-pipeline.yml
  micro_genderize/compose.yaml
  micro_genderize/develop-compose.yaml
Due: micro_genderize_develop, micro_genderize_main

Test the Genderize pipelines restructured
  micro_genderize/changed_file.txt
Due: micro_genderize_develop, micro_genderize_main

The Middleware pipelines were restructured
  .gitlab-ci.yml
  middleware/CI_CD/.middleware-develop-pipeline.yml
  middleware/CI_CD/.middleware-main-pipeline.yml
  middleware/compose.yaml
  middleware/develop-compose.yaml
Due: micro_middleware_develop, micro_middleware_main

Test the Middleware pipelines
  middleware/middle_file_changes.txt
Due: micro_middleware_develop, micro_middleware_main

Testing merge conflicts in pipelines - func 1
  micro_genderize/changed_file.txt
Due: micro_genderize_develop, micro_genderize_main

Testing merge conflicts in pipelines - func 2
  micro_genderize/changed_file.txt
Due: micro_genderize_develop, micro_genderize_main

Testing feature pipeline on start up
  .gitlab-ci.yml
Due: none

Testing feature pipeline on start up
  CI_CD/.feature-pipeline.yml
Due: none

Testing feature pipeline on start up
  .gitlab-ci.yml
  CI_CD/.feature-pipeline.yml
Due: none

Testing feature pipeline on start up
  CI-CD.md
Due: none

Testing simultaneous Runners
  CI-CD.md
  middleware/compose.yaml
Due: micro_middleware_develop, micro_middleware_main

Documentation
  CI-CD.md
  README.md
  assets/enunciados/[SA] Practica 2 - 1s2024.pdf
  assets/enunciados/[SA] Practica 3 - 1s2024.pdf
Due: none

Documentation and Agent Configuration File
  .gitlab/agents/agente-practicas/config.yaml
  CI-CD.md
  README.md
  assets/Diagrama_requerido_practica_2.png
  assets/descripcion_flujo_practica_3.png
  assets/diagrama_requerido_practica_3.png
Due: none

GitLab Agent for Kubernetes
  config.yaml
Due: none

GitLab Agent for Kubernetes
  .gitlab/agents/agente-practicas/config.yaml
  config.yaml
Due: none

GitLab Agent for Kubernetes
  .gitlab/agents/agente-practicas/config.yaml
  CI-CD.md
  config.yaml
Due: none

GitLab Agent for Kubernetes
  CI-CD.md
Due: none

GitLab Agent for Kubernetes
  assets/agent-connected.png
Due: none

Updating documentation
  CI-CD.md
Due: none

Configuration for GitLab Runner in Kubernetes
  CI-CD.md
  GitLabRunner/ClusterRolBinding.yaml
  GitLabRunner/ClusterRole.yaml
  GitLabRunner/ServiceAccount.yaml
  GitLabRunner/role-deployer.yaml
  GitLabRunner/rolebinding-gitlab-deployer.yaml
  GitLabRunner/values.yaml
  GitLabRunner/values_default.yaml
  README.md
Due: none

Updating documentation
  CI-CD.md
  README.md
Due: none

Hello World yaml file for Kubernetes service
  GitLabRunner/hello-world.yaml
Due: none

Testing deploy to Kubernetes
  CI_CD/.develop-pipeline.yml
Due: none

Set NAMESPACE variable into pipeline file
  .gitlab-ci.yml
  CI_CD/.develop-pipeline.yml
Due: none

Test a kubectl CLI image for deploy stage
  CI_CD/.develop-pipeline.yml
Due: none

Testing deploy to kubernetes
  micro_genderize/changed_file.txt
Due: micro_genderize_develop, micro_genderize_main

Testing deploy to kubernetes
  CI_CD/.develop-pipeline.yml
Due: none

GitLab Runner kubectl permissions
  GitLabRunner/values.yaml
Due: none

Path conditions:
  micro_agify_develop: any of: micro_agify/*
  micro_agify_main: any of: micro_agify/*
  micro_agify_feature: any of: micro_agify/*
  micro_agify_merge_request: any of: micro_agify/*
  micro_genderize_develop: any of: micro_genderize/*
  micro_genderize_main: any of: micro_genderize/*
  micro_middleware_develop: any of: middleware/*
  micro_middleware_main: any of: middleware/*
