Repository felifranco/PracticasSA: changes, and which GitLab CI jobs are due for each by the changed paths.
All: micro_agify_develop, micro_agify_main, micro_agify_feature, micro_agify_merge_request, micro_genderize_develop, micro_genderize_main, micro_genderize_feature, micro_genderize_merge_request, micro_middleware_develop, micro_middleware_main, micro_middleware_feature, micro_middleware_merge_request

Path conditions:
  micro_agify_develop: any of: micro_agify/**/*
  micro_agify_main: any of: micro_agify/**/*
  micro_agify_feature: any of: micro_agify/**/*
  micro_agify_merge_request: any of: micro_agify/**/*
  micro_genderize_develop: any of: micro_genderize/**/*
  micro_genderize_main: any of: micro_genderize/**/*
  micro_genderize_feature: any of: micro_genderize/**/*
  micro_genderize_merge_request: any of: micro_genderize/**/*
  micro_middleware_develop: any of: middleware/**/*
  micro_middleware_main: any of: middleware/**/*
  micro_middleware_feature: any of: middleware/**/*
  micro_middleware_merge_request: any of: middleware/**/*

Testing kubectl apply service file
  GitLabRunner/hello-world.yaml
Due: none

Testing deploy to kubernetes
  micro_genderize/changed_file.txt
Due: micro_genderize_develop, micro_genderize_main, micro_genderize_feature, micro_genderize_merge_request

GitLab Runner kubectl permissions
  GitLabRunner/values.yaml
Due: none

Testing deploy to kubernetes namespaces
  .gitlab-ci.yml
  CI_CD/.develop-pipeline.yml
  GitLabRunner/hello-world.yaml
Due: none

Testing deploy to kubernetes with different namespaces
  micro_genderize/changed_file.txt
Due: micro_genderize_develop, micro_genderize_main, micro_genderize_feature, micro_genderize_merge_request

Testing deploy to kubernetes namespaces
  CI_CD/.develop-pipeline.yml
  GitLabRunner/hello-world.yaml
Due: none

Updating documentation
  CI-CD.md
Due: none

Changing kubernetes YAML files
  .gitlab-ci.yml
  CI_CD/.develop-pipeline.yml
  micro_genderize/kubernetes/deployment.yaml
  micro_genderize/kubernetes/service.yaml
Due: micro_genderize_develop, micro_genderize_main, micro_genderize_feature, micro_genderize_merge_request

Testing deploy to kubernetes with different namespaces
  CI_CD/.develop-pipeline.yml
Due: none

Testing deploy to kubernetes with different namespaces
  CI_CD/.develop-pipeline.yml
  micro_genderize/changed_file.txt
Due: micro_genderize_develop, micro_genderize_main, micro_genderize_feature, micro_genderize_merge_request

Changing kubernetes YAML files again
  CI_CD/.develop-pipeline.yml
  micro_genderize/kubernetes/develop-deployment.yaml
  micro_genderize/kubernetes/main-deployment.yaml
Due: micro_genderize_develop, micro_genderize_main, micro_genderize_feature, micro_genderize_merge_request

The Deploy stage added to pipelines
  .gitlab-ci.yml
  CI_CD/.develop-pipeline.yml
  CI_CD/.main-pipeline.yml
  CI_CD/.release-pipeline.yml
  micro_agify/kubernetes/develop-deployment.yaml
  micro_agify/kubernetes/main-deployment.yaml
  micro_agify/kubernetes/service.yaml
  middleware/kubernetes/develop-deployment.yaml
  middleware/kubernetes/main-deployment.yaml
  middleware/kubernetes/service.yaml
Due: micro_agify_develop, micro_agify_main, micro_agify_feature, micro_agify_merge_request, micro_middleware_develop, micro_middleware_main, micro_middleware_feature, micro_middleware_merge_request
